[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ciceda/Desktop/GTKWave.desktop]
row=6
col=0

[/home/ciceda/Desktop/Gedit.desktop]
row=4
col=0

[/home/ciceda/Desktop/Emacs.desktop]
row=7
col=0

[/home/ciceda/Desktop/terminal.desktop]
row=3
col=0

[/home/ciceda/Desktop/Geany.desktop]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ciceda]
row=2
col=0

